# Visual Studio Code
.vscode/

# Компилирани обекти и бинарни
*.o
*.obj
*.exe
*.out

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
cmake-build-debug

cmake-build-debug/
.idea/

# Други временни файлове
*.log
*.user
