# Visual Studio Code
.vscode/

# Компилирани обекти и бинарни
*.o
*.obj
*.exe
*.out

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# CLion и CMake временни файлове
.idea/
cmake-build-debug/
*.user

# Други временни файлове
*.log
